h1 {
    color: #FFFFFF;
    font-family: system-ui;
    margin-left: 20px;
}
body {
    background-color: #003366;
}
label {
    color: #66CCFF;
    font-family: system-ui;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
button {
    background-color: #66CCFF;
    border-color: #66CCFF;
    color: #FFFFFF;
    font-family: system-ui;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
    width: 140px;
}
input {
    color: #003366;
    font-family: system-ui;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
    width: 100px;
}